---
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import CONTACTS from '~/static/contact'
import imageSources from '~/static/img-links'
import '~/styles/home.css'
---

<section class='home section' id='home'>
	<div class='intro'>
		<Image
			inferSize
			loading='eager'
			alt='logo'
			crossorigin='anonymous'
			src={imageSources.logo}
		/>
		<h1>RIYADH BAATCHIA</h1>
		<span>FULL STACK WEB DEVELOPER</span>
		<ul class='social-icons'>
			<li>
				<a
					aria-label='github'
					href={CONTACTS.github}
					rel='noreferrer'
					target='_blank'
				>
					<Icon name='home-github' />
				</a>
			</li>
			<li>
				<a
					aria-label='linkedin'
					href={CONTACTS.linkedin}
					rel='noreferrer'
					target='_blank'
				>
					<Icon name='home-linkedin' />
				</a>
			</li>
			<li>
				<a
					aria-label='x'
					href={CONTACTS.twitter}
					rel='noreferrer'
					target='_blank'
				>
					<Icon name='home-twitter' />
				</a>
			</li>
			<li>
				<a
					aria-label='send mail'
					href={`mailto:${CONTACTS.email}`}
					rel='noreferrer'
					target='_blank'
				>
					<Icon name='home-email' />
				</a>
			</li>
			<li>
				<a
					aria-label='whatsapp'
					href={`https://wa.me/${CONTACTS.phoneNumber.replace(/ /g, '')}`}
					rel='noreferrer'
					target='_blank'
				>
					<Icon name='home-whatsapp' />
				</a>
			</li>
		</ul>

		<div class='btn btn-default'>
			<a href='#contact'>Contact me</a>
		</div>
	</div>
	<div class='scroll-down'>
		<h2>Scroll For More</h2>
		<Icon name='home-scroll-down' height={24} />
	</div>
</section>
