---
import Image from 'astro/components/Image.astro'
import PROJECTS from '~/static/projects'

import '~/styles/projects.css'
---

<section class='projects section' id='projects'>
	<div class='container'>
		<h2 class='section-title px-15'>Projects</h2>

		<div class='projects-container'>
			{
				PROJECTS.map((project) => (
					<div class='project-card'>
						<Image
							inferSize
							src={project.thumbnail}
							alt={project.name}
							class='project-img'
							loading='lazy'
							crossorigin='anonymous'
						/>

						<div class='project-card-hover'>
							<h3 class='project-title'>{project.name}</h3>

							<ul class='project-tags-container'>
								{project.tags.map((tag) => (
									<li class='project-tag'>{tag}</li>
								))}
							</ul>

							<div class='project-buttons'>
								<div class='project-buttons-group'>
									<span class='circular-Button-no-hover'>
										<svg
											xmlns='http://www.w3.org/2000/svg'
											viewBox='0 0 448 512'
										>
											<path d='M384 32c35.3 0 64 28.7 64 64V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H384zM160 144c-13.3 0-24 10.7-24 24s10.7 24 24 24h94.1L119 327c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l135-135V328c0 13.3 10.7 24 24 24s24-10.7 24-24V168c0-13.3-10.7-24-24-24H160z' />
										</svg>
									</span>
									<div class='project-buttons-group-links'>
										{project.links.map((link, i) => (
											<a
												aria-label={`link ${i}`}
												href={link}
												rel='noreferrer'
												target='_blank'
											>
												{i + 1}
											</a>
										))}
									</div>
								</div>

								<a
									aria-label='project repo'
									href={
										project.repo ??
										'https://github.com/riyadh-dev'
									}
									rel='noreferrer'
									target='_blank'
									class:list={{ disabled: !project.repo }}
								>
									<svg
										xmlns='http://www.w3.org/2000/svg'
										viewBox='0 0 496 512'
									>
										<path d='M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z' />
									</svg>
								</a>

								<button
									aria-label='open gallery slider'
									class='circular-Button gallery-opener'
									data-images={JSON.stringify(project.images)}
								>
									<svg
										xmlns='http://www.w3.org/2000/svg'
										viewBox='0 0 576 512'
									>
										<path d='M160 32c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H160zM396 138.7l96 144c4.9 7.4 5.4 16.8 1.2 24.6S480.9 320 472 320H328 280 200c-9.2 0-17.6-5.3-21.6-13.6s-2.9-18.2 2.9-25.4l64-80c4.6-5.7 11.4-9 18.7-9s14.2 3.3 18.7 9l17.3 21.6 56-84C360.5 132 368 128 376 128s15.5 4 20 10.7zM192 128a32 32 0 1 1 64 0 32 32 0 1 1 -64 0zM48 120c0-13.3-10.7-24-24-24S0 106.7 0 120V344c0 75.1 60.9 136 136 136H456c13.3 0 24-10.7 24-24s-10.7-24-24-24H136c-48.6 0-88-39.4-88-88V120z' />
									</svg>
								</button>
							</div>
						</div>
					</div>
				))
			}
		</div>
	</div>
</section>

<dialog class='gallery-slider'>
	<div class='gallery-slider-container'>
		<button
			aria-label='close'
			class='close-button circular-Button'
			data-action='close'
		>
			<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'>
				<path
					d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'
				></path>
			</svg>
		</button>

		<button
			aria-label='back'
			class='back-button circular-Button'
			data-action='back'
		>
			<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'>
				<path
					d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'
				></path>
			</svg>
		</button>

		<button
			aria-label='next'
			class='forward-button circular-Button'
			data-action='next'
		>
			<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'>
				<path
					d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'
				></path>
			</svg>
		</button>

		<div class='gallery-slider-middle-section'>
			<div class='loader'></div>
			<img
				loading='eager'
				crossorigin='anonymous'
				alt='gallery'
				src=''
				class='hide'
			/>
		</div>
		<div class='gallery-slider-circles bottom-section'></div>
	</div>
</dialog>

<script>
	const dialog = document.querySelector<HTMLDialogElement>('.gallery-slider')
	const openButtons = document.querySelectorAll('.gallery-opener')
	const imageElement = dialog?.querySelector('img')
	const loader = dialog?.querySelector<HTMLElement>('.loader')
	const circlesContainer = dialog?.querySelector('.gallery-slider-circles')

	let images: string[] = []
	let currentIndex = 0

	const updateImage = () => {
		if (!imageElement || !loader || !circlesContainer) return

		loader.classList.remove('hide')
		imageElement.classList.add('hide')

		imageElement.src = images[currentIndex]
		imageElement.onload = () => {
			loader.classList.add('hide')
			imageElement.classList.remove('hide')
		}

		circlesContainer.childNodes.forEach((circle, i) => {
			;(circle as HTMLElement).classList.toggle(
				'gallery-slider-circle-active',
				i === currentIndex
			)
		})
	}

	openButtons.forEach((button) => {
		button.addEventListener('click', () => {
			if (!dialog || !circlesContainer) return
			images = JSON.parse((button as HTMLElement).dataset.images || '[]')
			currentIndex = 0
			circlesContainer.innerHTML = ''
			images.forEach((_: string, i: number) => {
				const circle = document.createElement('button')
				circle.setAttribute('aria-label', `image ${i}`)
				circle.dataset.action = 'select'
				circle.dataset.index = i.toString()
				if (i === 0) {
					circle.classList.add('gallery-slider-circle-active')
				}
				circlesContainer.appendChild(circle)
			})
			updateImage()
			dialog.showModal()
			document.body.style.overflow = 'hidden'
		})
	})

	dialog?.addEventListener('click', (e) => {
		if (e.target === dialog) {
			dialog.close()
		}
	})

	dialog?.addEventListener('close', () => {
		document.body.style.overflow = 'auto'
	})

	dialog?.addEventListener('click', (e) => {
		const target = (e.target as HTMLElement).closest('button')
		if (!target) return

		const action = target.dataset.action
		if (action === 'close') {
			dialog.close()
		} else if (action === 'next') {
			if (currentIndex < images.length - 1) {
				currentIndex++
				updateImage()
			}
		} else if (action === 'back') {
			if (currentIndex > 0) {
				currentIndex--
				updateImage()
			}
		} else if (action === 'select') {
			currentIndex = parseInt(target.dataset.index || '0', 10)
			updateImage()
		}
	})
</script>
