---
import SKILLS from '@/static/skills';
import { Image } from 'astro:assets';

import '@/styles/skills.css';
---

<section class='skills section' id='skills'>
	<div class='container'>
		<h2 class='section-title px-15'>Skills</h2>

		<div class='skills-container'>
			{
				SKILLS.map(({ categoryName, skills, SVG }, index) => (
					<>
						<input
							type='radio'
							class='skills-tabs-radio'
							name='tabs-example'
							id={categoryName}
							checked={index === 0}
						/>
						<label for={categoryName} class='skills-tab'>
							<SVG />

							<div>
								<h1 class='skills-title'>{categoryName}</h1>
							</div>
						</label>
						<div class='skills-group'>
							{skills.map((skill) => (
								<div class='skill-container'>
									<Image
										class={skill.dark ? 'skill-image-lighten' : ''}
										src={skill.image}
										alt={skill.name}
										width={52}
										height={52}
										loading='lazy'
										crossorigin='anonymous'
									/>
									<h3 class='skill-name'>{skill.name}</h3>
								</div>
							))}
						</div>
					</>
				))
			}
		</div>
	</div>
</section>
